html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f; /* matches your background */
}

::-webkit-scrollbar-thumb {
  background: #444; /* scroll handle */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
